@import "blueprint/reset";
@import "blueprint";
@import "blueprint/scaffolding";
@import 'base';

$blueprint-grid-columns: 24;
$blueprint-container-size: 950px;
$blueprint-grid-margin: 10px;

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

body.bp {
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  @include blueprint-grid;
}

body {
  font-family: Arial;
  font-size: 14px;  
}

a {
  color: #006699;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bp-typography {
  @include blueprint-typography(true);  
}

form.bp {
  @include blueprint-form;
}

